<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>205527659556-nr0o4b4hnt5jmare0m3bif1fcg9cecrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205527659556-nr0o4b4hnt5jmare0m3bif1fcg9cecrq</string>
	<key>API_KEY</key>
	<string>AIzaSyCpJogwsol0N9gK-vJyR1GRroDIfwTraW8</string>
	<key>GCM_SENDER_ID</key>
	<string>205527659556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agarcia.heartstonelib</string>
	<key>PROJECT_ID</key>
	<string>heartstonelib-bb38d</string>
	<key>STORAGE_BUCKET</key>
	<string>heartstonelib-bb38d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205527659556:ios:d2131dbc3b2b1cff</string>
	<key>DATABASE_URL</key>
	<string>https://heartstonelib-bb38d.firebaseio.com</string>
</dict>
</plist>